@{
  Layout = "_Layout";
}
@using Bakery.Models.Cart

@if(@Model.JoinEntities.Count == 0)
{
  <p>Your Cart is empty</p>
}
@else
{
  <ul>
  @foreach(Product product in Model)
  {
    <li>
      @Html.ActionLink($"{Product.Name}", "Details", new { id = product.ProductId })
      | Quantity Ordered: @(Product.JoinEntities.Count)
    </li>
  }
  </ul>
<input type="submit" value="Checkout" class="btn btn-success">Checkout</>
}